.btn{
    background-color: rgb(225, 56, 56);
   padding-inline: 10px;
   padding-block: 0.2rem;
   padding-block: 0.2rem;
   border-radius: 0.3rem;
   border: none;
   outline: none;
   width: 250p;
   color:white;
}